.btn {
  font-size: 1.142rem;
  width: 320px;
  height: 40px;
  background: #2C68FF;
  border-radius: 2px;
  margin-left: 182px;
}

.tips {
  color: #979BA3;
  font-size: 0.857rem;
  margin: 80px 0;
}

.title {
  font-size: 0.857rem;
  color: #34374A;
  margin: 24px 0 80px 0;
}

.main {
  margin-left: 40px;
}

.center {
  display: flex;
  align-items: center;
}

.itemView {
  width: 19.871%;
  margin-right: 6.666%;
  background: #FFFFFF;
  box-shadow: 0px 12px 48px 16px rgba(44, 103, 255, 0.03), 0px 9px 28px 0px rgba(44, 103, 255, 0.05), 0px 6px 16px -8px rgba(44, 103, 255, 0.08);
  border-radius: 70px 1px 70px 1px;
  border: 1px solid #2C67FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 0.65%;
}

.itemView img {
  width: 57.419%;
  margin: 6.451% 0 10.967% 0;
}

.label {
  color: #333649;
  font-size: 1.142rem;
  margin-bottom: 6.451%;
}

.checkbox {
  position: absolute;
  top: 5.161%;
  right: 5.161%;
}
