.container {
  padding: 0;
  height: 60px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  padding-right: 200px;
  align-items: center;
  justify-content: flex-end;
  color: #000;
  box-shadow: 0px 1px 4px 0px rgba(0, 21, 41, 0.12);
}

.avatar {
  width: 24px;
  margin-right: 8px;
}

.btn {
  border: none;
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-right: 25px;
}

.down {
  margin-left: 8px;
  width: 16px;
}

.logoutBtn {
  border: none;
}

.item:hover {
  background-color: #EEF4FE;
}

.siderLayout::-webkit-scrollbar {
    display: none;
     -ms-overflow-style: none;
}
