@font-face {
  font-family: 'PingFangSCRegular';
  src: url(../fonts/PingFangSCRegular.ttf);
}

@font-face {
  font-family: 'PingFangSC';
  src: url(../fonts/PingFangSCRegular.ttf);
}

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'PingFangSCRegular', 'PingFangSC';
  font-weight: 400;
}

.container {
  height: 100%;
  width: 100%;
  min-width: 1000px;
  min-height: 700px;
}

.f {
  display: flex;
}

.f-c-c-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #34374A;
}
