html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  min-width: 1100px;
  min-height: 100%;
}

.user-select {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

@media screen and (max-width: 1500px) {
  html, body, #root {
    font-size: 12px;
  }
}

@media screen and (max-width: 1300px) {
  html, body, #root {
    font-size: 10px;
  }
}

.container {
  height: 100%;
  width: 100%;
}

.select-view {
  width: 100%;
  background-color: #f0f2f5;
  min-height: 100%;
  padding: 0 24px;
}

.view {
  width: 100%;
}

.layoutView {
  min-height: 100%;
}

.f {
  display: flex;
}

.f-r-c-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.f-c-c-sb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #34374A;
}

.link-input {
  width: 29.25%;
}

.link-input input {
  height: 40px;
}

/* sider style */
.home_icon,
.table_icon_customize,
.statistics_icon,
.communityBusiness_icon,
.cardBusiness_icon,
.services_icon,
.docking_icon,
.store_icon,
.orderRecording_icon,
.capitalFlow_icon,
.user_icon,
.webSetting_icon,
.systemSetting_icon,
.childWeb_icon {
	height: 100%;
	width: 100%;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 21px;
	padding-left: 37px;
}

/* .home_icon:hover { */
/* 	background-image: url("../icons/sider/sider5.png")!important; */
/* } */

/* .table_icon_customize:hover { */
/* 	background-image: url("../icons/sider/sider24.png")!important; */
/* } */

/* .statistics_icon:hover { */
/* 	background-image: url("../icons/sider/sider14.png")!important; */
/* } */

/* .communityBusiness_icon:hover { */
/* 	background-image: url("../icons/sider/sider4.png")!important; */
/* } */

/* .cardBusiness_icon:hover { */
/* 	background-image: url("../icons/sider/sider6.png")!important; */
/* } */

/* .services_icon:hover { */
/* 	background-image: url("../icons/sider/sider9.png")!important; */
/* } */

/* .docking_icon:hover { */
/* 	background-image: url("../icons/sider/sider26.png")!important; */
/* } */

/* .store_icon:hover { */
/* 	background-image: url("../icons/sider/sider28.png")!important; */
/* } */

/* .orderRecording_icon:hover { */
/* 	background-image: url("../icons/sider/sider10.png")!important; */
/* } */

/* .capitalFlow_icon:hover { */
/* 	background-image: url("../icons/sider/sider3.png")!important; */
/* } */

/* .user_icon:hover { */
/* 	background-image: url("../icons/sider/sider1.png")!important; */
/* } */

/* .webSetting_icon:hover { */
/* 	background-image: url("../icons/sider/sider20.png")!important; */
/* } */

/* .systemSetting_icon:hover { */
/* 	background-image: url("../icons/sider/sider16.png")!important; */
/* } */

/* .childWeb_icon:hover { */
/* 	background-image: url("../icons/sider/sider22.png")!important; */
/* } */
/* sider style */
