@font-face {
  font-family: 'PingFangSCRegular';
  src: url(../fonts/PingFangSCRegular.ttf);
}

@font-face {
  font-family: 'PingFangSC';
  src: url(../fonts/PingFangSCRegular.ttf);
}

html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'PingFangSCRegular', 'PingFangSC';
  font-weight: 400;
  font-size: 14px;
  min-width: 1100px;
  min-height: 100%;
}

@media screen and (max-width: 1500px) {
  html, body, #root {
    font-size: 12px;
  }
}

@media screen and (max-width: 1300px) {
  html, body, #root {
    font-size: 10px;
  }
}

.container {
  height: 100%;
  width: 100%;
}

.f {
  display: flex;
}

.f-c-c-sb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #34374A;
}
