.img {
  width: 104px;
}

.title {
  font-weight: 500;
  color: #353535;
  font-size: 1.285rem;
  margin: 32px 0 20px 0;
}

.context {
  color: #353535;
  align-self: flex-start;
}

.tips {
  color: #FF5730;
}

.cancel {
  margin: 28px 90px 0 0;
  width: 150px;
  height: 32px;
  border-color: #2C68FF;
  color: #2C68FF;
}

.ok {
  margin: 28px 0 0 0;
  width: 150px;
  height: 32px;
}
