#root .ant-upload-picture-card-wrapper {
  width: auto;
}

.ant-upload.ant-upload-select-picture-card {
  background: #F0F4FF;
  border-color: #6B95FF;
}

#root .ant-layout-sider-children ul {
  box-sizing: content-box;
}

#root .ant-table {
  color: #000;
}

#root .ant-table-small .ant-table-thead > tr > th {
  background-color: #F1F5FF;
  color: #000;
  font-weight: 500;
}

#root .ant-table.ant-table-small {
  /* font-size: 12px; */
  /* color: #000; */
  /* font-weight: 400; */
}

#root .ant-dropdown-trigger span {
  /* color: #979BA3; */
}

#root .ant-dropdown-open span {
  /* color: #2C67FF; */
}

.ant-dropdown .ant-dropdown-menu-item :hover, #root .ant-dropdown .ant-dropdown-menu-submenu-title :hover {
  background-color: #F0F5FF;
  color: #2C68FF;
}

.ql-toolbar.ql-snow {
  overflow-x: auto;
}
