#root .ant-upload-picture-card-wrapper {
  width: auto;
}

.ant-upload.ant-upload-select-picture-card {
  background: #F0F4FF;
  border-color: #6B95FF;
}

#root .ant-layout-sider-children ul {
  box-sizing: content-box;
}

#root .ant-table {
  color: #000;
}

#root .ant-table-small .ant-table-thead > tr > th {
  background-color: #ECF2FF;
  height: 48px;
  color: #000;
  font-weight: 500;
}

.ant-dropdown .ant-dropdown-menu-item :hover, #root .ant-dropdown .ant-dropdown-menu-submenu-title :hover {
  background-color: #F0F5FF;
  color: #2C68FF;
}

td.ant-table-column-sort {
  background-color: transparent;
}

.ant-transfer-list {
  height: 328px;
  width: 44.206%;
}

.ant-transfer-operation {
  width: 10.944%;
  margin: 0;
  margin-left: 3px;
}

.ant-timeline-item-content {
  color: rgba(0, 0, 0, 0.65);
}

.ant-radio-button-wrapper {
  width: 133px;
  color: #979BA3;
  text-align: center;
}

.ant-popover-message-title {
  padding-left: 0;
}

.ant-popover-buttons {
  display: none;
}

.ant-tooltip-inner {
  color: #FF8D30;
  font-size: 0.857rem;
  box-shadow: 0 3px 6px -4px #98B6FF, 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.ant-popover-inner-content {
  padding-top: 0;
  padding-bottom: 0;
}

.ant-table.ant-table-small .ant-table-title, .ant-table.ant-table-small .ant-table-footer, .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table.ant-table-small tfoot > tr > th, .ant-table.ant-table-small tfoot > tr > td {
  padding-top: 0;
  padding-bottom: 0;
}

.ql-toolbar.ql-snow {
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px 2px 0 0;
}

.ql-container.ql-snow {
  border-radius: 0 0 2px 2px;
}

.ql-toolbar.ql-snow, .ql-container.ql-snow {
  border-color: #d9d9d9;
}

.ql-editor {
  min-height: 200px;
}

.ant-table-row-level-0 .ant-table-cell {
  height: 50px;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #F7FAFF;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #ECF2FF;
}

.ant-breadcrumb .ant-breadcrumb-link span {
  color: rgba(0, 0, 0, 0.45);
  transition: color 0.3s;
  touch-action: manipulation;
  background-color:transparent;
  outline:none;
  cursor: pointer;
}

.ant-breadcrumb .ant-breadcrumb-link span:hover {
  color: #548aff;
}

.ant-modal-body {
  padding-top: 0;
}

.ant-tag {
  font-size: 1rem;
}

.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
	background-color: #EEF4FE;
}

.ant-empty-normal {
	margin: 0;
}

.ant-skeleton-paragraph {
	margin-top: 14px;
}

.ant-skeleton-paragraph li {
	width: 100%!important;
}
