.title {
  color: #333333;
  font-size: 1.142rem;
}

.close {
  width: 13px;
  cursor: pointer;
}

.header {
  height: 50px;
  border-bottom: 1px solid #CCCED6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.limit_item {
  color: rgba(0, 0, 0, 0.45);
  margin-top: 16px;
}

.basic_msg_view {
	width: 50%;
}

.limit_item span {
  margin-left: 8px;
  color: #333;
}

.time {
  font-weight: 800;
}

.time_line {
	color: #34374A;
}

.time_line span {
  color: #34374A;
}

.time_line span:nth-child(1) {
  color: rgba(44, 104, 255, 1);
}

.time_line span:nth-child(2) {
  color: rgba(255, 95, 95, 1);
}

.introduction {
  margin-top: 32px;
  background-color: rgba(244, 244, 244, 1);
  padding: 20px 30px;
  color: #333333;
}

.closeBtn {
  margin-top: 32px;
  border-color: #2C68FF;
  color: #2C68FF;
}

.btnView {
  width: 100%;
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.item input {
  width: 370px;
  height: 40px;
}

.item_label {
  font-weight: 500;
  color: #34374A;
  width: 120px;
  flex-shrink: 0;
}

.item_vip {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  flex-shrink: 0;
}

.item_vip img {
  width: 22px;
  flex-shrink: 0;
}

.item_vip div {
  margin: 0 10px 0 4px;
  font-weight: 500;
  color: #333333;
  flex-shrink: 0;
}

.item_vip input {
  width: 110px;
  height: 40px;
  flex-shrink: 0;
}

.vip_view {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.change_btn_view {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

.change_btn_cancel {
  border-color: #DBDEE5;
  width: 180px;
  margin-right: 60px;
  height: 44px;
  color: #C0C2CB;
}

.change_btn_ok {
  width: 180px;
  height: 44px;
}

.desc_item {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 22px;
}

.desc_item img {
  width: 15px;
  margin-right: 7px;
}

.desc_item span {
  color: #333333;
  margin-left: 80px;
}

.remark {
  padding-top: 62px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.remark input {
  width: 370px;
  height: 40px;
  margin: 0 0 0 14px;
}

.remark div {
  color: #34374A;
  font-weight: 500;
}

.remark_tips {
  margin-left: 135px;
  align-self: flex-start;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.25);
}

.remark_tips span {
  color: #34374A;
  font-weight: 500;
}

.user_tips {
  color: rgba(0, 0, 0, 0.25);
  margin: 13px 0 5px 0;
}

.user_setting {
  padding: 26px 50px;
}

.selects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.user_sel {
  width: 102px;
  height: 34px;
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
}

.desc_view {
  margin: 32px 0 0 128px;
}

.change_desc_view {
  margin: 32px 0 0 28px;
}

.tags_btn {
  margin: 0 24px 24px 0;
  border-color: #2C67FF;
  color: #2C67FF;
  background-color: #EDF2FF;
}

.center_view {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.basic_msg_parameter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.basic_msg {
  width: 100%;
	background: #FAFAFA;
	border-radius: 2px;
	display: flex;
	padding: 24px;
}

.table_msg {
	padding: 24px 0 0 24px;
	width: 100%;
	background: #FAFAFA;
	border-radius: 2px;
	margin-bottom: 40px;
}

.more_label {
	font-size: 1.28rem;
	font-weight: 500;
	color: #333333;
	margin: 40px 0 10px 0;
}

.more_msg {
	padding-top: 40px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.headerT {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.571rem;
  color: #34374A;
  font-weight: 500;
  position: relative;
	margin-bottom: 40px;
}

.circle {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 14px;
  width: 14px;
  background: linear-gradient(144deg, #B4C9FF 0%, #1657FF 100%);
  border-radius: 14px;
}

.basic_msg_label {
	color: #333;
	font-size: 1.142rem;
	margin-bottom: 4px;
}

.edit_view {
  width: 29.25%;
	background: #F7FAFF;
	padding: 0 12px 15px 12px;
}

.basic_msg_text {
	width: 50%;
	color: #333333;
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.basic_msg_text div:first-child {
	width: 38px;
	color: #fff;
	height: 16px;
	background: #FF8D30;
	margin-right: 8px;
	border-radius: 2px;
	line-height: 16px;
	font-size: 0.857rem;
	text-align: center;
}

.basic_msg_text div:last-child {
	color: rgba(0, 0, 0, 0.45);
	margin-right: 8px;
}

.basic_msg_text_edit {
	width: 100%;
	color: #333333;
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.basic_msg_text_edit div:first-child {
	flex-shrink: 0;
	width: 38px;
	color: #fff;
	height: 16px;
	background: #FF8D30;
	margin-right: 8px;
	border-radius: 2px;
	line-height: 16px;
	font-size: 0.857rem;
	text-align: center;
}

.basic_msg_text_edit div:last-child {
	flex-shrink: 0;
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.basic_msg_text_edit_name {
	flex-shrink: 0;
	color: rgba(0, 0, 0, 0.45);
	margin-right: 8px;
}

.more_item {
	margin-top: 12px;
	display: flex;
	align-items: center;
}

.more_item img {
	width: 12px;
}

.more_item div {
	margin: 0 9px 0 4px;
	color: rgba(0, 0, 0, 0.45);
}

.more_item span {
	color: #333;
}

.more_time {
	width: 100%;
	background: #FAFAFA;
	border-radius: 2px;
	padding: 24px;
}

.edit_user_price {
}
