.tips {
  font-size: 0.857rem;
  color: #979BA3;
  margin-top: 2px;
  flex-shrink: 0;
  max-width: 80%;
}

.orderT {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.orderLT {
  height: 203px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
}

.orderView {
  /* height: 739px; */
  margin-top: 0;
  width: 100%;
  background-color: #fff;
  padding: 24px 24px 0 24px;
  /* margin-bottom: 24px; */
}

.column {
  height: 536px;
  width: 100%;
}

.title {
  color: #34374A;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.data {
  color: #34374A;
  font-weight: 400;
  font-size: 2rem;
  flex-shrink: 0;
}

.picker {
  width: 348px;
  height: 32px;
  margin-right: 8%;
}

.btn {
  height: 32px;
  width: 112px;
  color: #2C68FF;
  border-color: #2C68FF;
}

.bViewL {
  display: flex;
  align-items: center;
  width: 31.387%;
  margin: 32px 0;
}

.bView {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mView {
  height: 50%;
  display: flex;
  align-items: center;
  width: 100%;
}

.mPicker {
  width: 348px;
  height: 32px;
  margin-right: 40px;
}

.chart_label {
  color: #979BA3;
  font-weight: 500;
}
