.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding-right: 24px;
  background: #FFFFFF;
  border-radius: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.headerL {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(100%-122px);
  height: 100%;
}

.headerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: 256px;
  color: #6F717E;
}

.headerBorder {
  width: 1px;
  height: 50px;
  background: rgba(214, 215, 219, 0.55);
  margin-right: 7%;
  margin-left: 10%;
}

@media screen and (max-width: 1140px) {
  .headerItem:nth-child(2) .headerBorder,.headerItem:nth-child(4) .headerBorder,.headerItem:nth-child(6) .headerBorder {
    background: #fff;
  }
}

@media screen and (min-width: 1141px) and (max-width: 1403px) {
  .headerItem:nth-child(3) .headerBorder,.headerItem:nth-child(6) .headerBorder {
    background: #fff;
  }
}

@media screen and (min-width: 1404px) and (max-width: 1671px) {
  .headerItem:nth-child(4) .headerBorder,.headerItem:nth-child(8) .headerBorder {
    background: #fff;
  }
}

@media screen and (min-width: 1672px) and (max-width: 1944px) {
  .headerItem:nth-child(5) .headerBorder,.headerItem:nth-child(10) .headerBorder {
    background: #fff;
  }
}

@media screen and (min-width: 1945px) {
  .headerItem:nth-child(6) .headerBorder,.headerItem:nth-child(12) .headerBorder {
    background: #fff;
  }
}

.headerItem:last-child .headerBorder {
  background-color: #fff;
}

.headerItemImg {
  width: 103px;
}

.headerIR {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerAddBtn {
  font-size: 1.142rem;
  margin-top: 35px;
  height: 40px;
  width: 122px;
}

.headerNumber {
  font-size: 2.142rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.85);
}

.main {
  flex: 1;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 24px;
  padding: 0 24px;
}

.searchView {
  width: 100%;
}

.actionView {
  width: 100%;
  display: flex;
  align-items: center;
}

.dropdownBtn {
  width: 7.573%;
  margin-right: 2.463%;
}

.searchBtn {
  height: 32px;
  width: 112px;
  align-self: flex-start;
}

.select_searchBtn {
  height: 32px;
  width: 112px;
  align-self: flex-start;
  background-color: #2C67FF;
  color: #fff;
  border-color: #2C67FF;
}

.select_searchBtn:hover {
  background-color: #2C67FF;
  color: #fff;
  border-color: #2C67FF;
}

.searchInput {
  height: 32px;
  margin: 0 40px 24px 0;
  width: 186px;
  width: 186px;
  color: #979BA3;
}

.dropdownPromise {
  width: 29.25%;
  height: 40px;
  padding: 4px 11px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.dropItem {
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  transform: all 0.3s;
}

.dropItem:hover {
  background-color: #f5f5f5;
}

.actionBtn {
  height: 32px;
  width: 123px;
  margin: 0 40px 24px 0;
  color: #979BA3;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.actionBtnDelete {
  height: 32px;
  width: 123px;
  color: #979BA3;
  margin-right: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.searchL {
  width: calc(100%-212px);
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0 0 0;
  align-items: center;
  justify-content: flex-start;
}

.searchR {
  margin:24px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.resetBtn {
  height: 32px;
  width: 65px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  margin-right: 35px;
}

.action {
  height: 32px;
  color: #2C67FF;
  border-color: #2C67FF;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search{
  border-bottom: 1px solid rgba(0,0,0,0.09);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hiddenText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerTips {
  width: 100%;
  padding: 0 17px;
  height: 55px;
  flex-shrink: 0;
  background-color: #fff;
}

.headerText {
  width: 100%;
  height: 40px;
  background: #FFFCEB;
  border-radius: 2px;
  color: #FF8D30;
  display: flex;
  align-items: center;
}

.tipsImg {
  width: 14px;
  margin-right: 8px;
  margin-left: 17px;
}

.clickText {
  cursor: pointer;
  text-decoration: underline;
  text-decoration: underline #2c68ff;
  color: #2c68ff;
}

.dataPicker {
  height: 32px;
  width: 348px;
  margin: 0 40px 24px 0;
}

.noticeHtml {
  height: 46px;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 46px;
}

.small_btn {
  width: 106px;
  height: 40px;
  color: #2C67FF;
  margin-right: 35px;
  border-color:#2C67FF;
}

.excelBtn {
  width: 132px;
  margin: 24px 0;
  height: 32px;
}
