.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding-right: 24px;
  background: #FFFFFF;
  border-radius: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.headerL {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(100%-122px);
  height: 100%;
}

.headerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: 256px;
  color: #6F717E;
}

.headerBorder {
  width: 1px;
  height: 50px;
  background: rgba(214, 215, 219, 0.55);
  margin-right: 7%;
  margin-left: 10%;
}

@media screen and (max-width: 1174px) {
  .headerItem:nth-child(2) .headerBorder,.headerItem:nth-child(4) .headerBorder,.headerItem:nth-child(6) .headerBorder {
    background: #fff;
  }
}

@media screen and (max-width: 1450px ) and (min-width: 1175px) {
  .headerItem:nth-child(3) .headerBorder,.headerItem:nth-child(6) .headerBorder {
    background: #fff;
  }
}

.headerItem:last-child .headerBorder {
  background-color: #fff;
}

.headerItemImg {
  width: 103px;
}

.headerIR {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerAddBtn {
  font-size: 1.142rem;
  margin-top: 35px;
  height: 40px;
  width: 122px;
}

.headerNumber {
  font-size: 2.142rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.85);
}

.main {
  flex: 1;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 24px;
  padding: 0 24px;
}

.searchView {
  width: 100%;
}

.actionView {
  width: 100%;
  display: flex;
  align-items: center;
}

.dropdownBtn {
  width: 7.573%;
  margin-right: 2.463%;
}

.actionBtn {
  height: 32px;
  width: 123px;
  margin: 24px 40px 24px 0;
  color: #979BA3;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .actionBtn:nth-child(3), .actionBtn:nth-child(4), .actionBtn:nth-child(5), .actionBtn:nth-child(6) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1426px) {
  .actionBtn:nth-child(4), .actionBtn:nth-child(5), .actionBtn:nth-child(6) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1427px) and (max-width: 1637px) {
  .actionBtn:nth-child(5), .actionBtn:nth-child(6) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1638px) {
  .actionBtn:nth-child(6) {
    margin-top: 0;
  }
}

.action {
  height: 32px;
  color: #2C67FF;
  border-color: #2C67FF;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search{
  border-bottom: 1px solid rgba(0,0,0,0.09);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.searchL {
  width: calc(100%-212px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.searchR {
  margin:24px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.resetBtn {
  height: 32px;
  width: 65px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
}

.searchBtn {
  height: 32px;
  width: 112px;
  margin-left: 35px;
}

.searchInput {
  height: 32px;
  margin: 24px 40px 24px 0;
  width: 186px;
  width: 186px;
  color: #979BA3;
}

.hiddenText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerTips {
  width: 100%;
  padding: 0 24px;
  height: 55px;
  flex-shrink: 0;
  background-color: #fff;
}

.headerText {
  width: 100%;
  height: 40px;
  background: #FFFCEB;
  border-radius: 2px;
  color: #FF8D30;
  display: flex;
  align-items: center;
}

.tipsImg {
  width: 14px;
  margin-right: 8px;
  margin-left: 17px;
}

.clickText {
  cursor: pointer;
  text-decoration: underline;
  text-decoration: underline #2c68ff;
  color: #2c68ff;
}

.cgView {
  width: 220px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cgItem {
  height: 22px;
  width: 100px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cgItem:nth-child(2), .cgItem:nth-child(4) {
  text-align: right;
}

.dataPicker {
  height: 32px;
  width: 348px;
}
